<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<h2>You query is: <%=@query%></h2>


<% if @query.include?("?") %>
  <%= "Silly question, get dressed and go to work!" %>
<% else %>
  <%= "I don't care, get dressed and go to work!" %>
<% end %>


<p><%= link_to "Ask a new question!", ask_path %></p>
